<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div class="login-box">
	  <h2>Login</h2>
	  <form action="{% url 'accounts:signup_auth'%}" method="post">
	  {% csrf_token %}
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	    <div class="user-box">
	      <input type="text" name="uname" required="">
	      <label>Username</label>
	    </div>
	    <div class="user-box">
	      <input type="email" name="email" required="">
	      <label>Email ID</label>
	    </div>
	    <div class="user-box">
	      <input type="password" name="passwd" required="">
	      <label>Password</label>
	    </div>
	    <div class="user-box">
	      <input type="password" name="passwd_conf" required="">
	      <label>Re-enter Password</label>
	    </div>	
	    <a href="#">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <input type="submit" name="submit" value="Submit">
	    </a>
	  </form>
	  <a href="{% url 'accounts:login' %}">Existing User? Login here</a>
	</div>
</body>
</html>